/**Основные элементы*/
button, textarea, body, input {
    font: 400 150%/1.2 "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}

textarea, #error {
    box-sizing: border-box;
}

textarea {
    padding: 10px;
    background-color: #fefefe;
    color: #888;
    resize: none;
}

#robotBoard {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
}

#editor {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
}

#input {
    font-family: monospace;
    position: absolute;
    outline: none;
    width: 100%;
    height: 70%;
}

#output {
    outline: none;
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 30%;
}

#error {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:10px;
    margin-top: -25px;
    background-color: Red;
    display: none;
}

#button {
    z-index: 3;
    position: absolute;
    top: 70%;
    right: 0;
    padding: 5px;
    margin-right: 0;
    margin-bottom: 0;
}