* {
    margin:0;
    box-sizing: border-box;
    font-family: monospace;
}

textarea {
    background-color: #fefefe;
    color: #888;
    resize: none;
    font-size:2em;
    width: 100%;
    height: 100%;
}

#app {
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-rows: 1fr 100px;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
        "editor canvas"
        "messages canvas"
}

.editor {
    grid-area: editor;
}

.messages {
    position: relative;
    grid-area: messages;
}

.messages #button {
    position: absolute;
    top:0;
    right:0;
    font-size:1.5em;
}

.messages #error {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:10px;
    background-color: Red;
    color: white;
    font-weight: 600;
    display: none;
}

.canvas {
    grid-area:canvas;
}

@media screen and (max-width:960px) {
    #app {
        grid-template-rows: 1fr 200px;
        grid-template-columns: 100% 200%;
        grid-template-areas: 
            "editor canvas"
            "messages canvas"
    }
}

@media screen and (max-width:960px) and (max-height:500px) {
    .messages {
        display:none;
    }
    #app {
        grid-template-columns: 100% 200%;
        grid-template-areas: 
            "editor canvas"
    }
}