textarea {
	background: #fefefe;
	resize: none;
	box-sizing: border-box;
	font-size:14pt;
}
.cells {
	background:Lime;
	border:2px LimeGreen solid;
}
.robot {
	background-image:url(robot.png);
    background-size:contain;
}
#right-side {
	position:absolute;
	top:0;
	left:40%;
	width : 60%;
	height : 100%;
}
#left-side {
	position:absolute;
	top:0;
	left:0;
	width : 40%;
	height : 100%;
}
#input {
	outline:none;
	position:absolute;
	top:0;
	left:0;
	width : 100%;
	height : 70%;
}
#output {
	outline:none;
	position:absolute;
	top:70%;
	left:0;
	width: 100%;
	height: 30%;
}
#button {
	position:absolute;
	top:70%;
	left:100%;
	width:90px;
	height:25px;
	margin-left:-90px;
	margin-top:-25px;
}